* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(214, 214, 214);
}

.container {
    width: 60vw;
    height: 60vh;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-top: 10%;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(118, 118, 118);
    margin: 10px 0;
    color: white;
    transition: 0.3s ease-in-out
}

button:hover {
    background-color: whitesmoke;
    color: black;
}